{% extends "_authLayout.html" %}

{% block content %}
<div class="login-form-container">
    <h1 class="welcome-back">Welcome to Vahanary</h1>
    <form id="loginForm" action="/login" method="post">
        <div class="form-group">
            <div class="input-icon-wrapper">
                <i class="fas fa-envelope"></i>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email address"
                    required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon-wrapper">
                <i class="fas fa-lock"></i>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Password" required>
            </div>
        </div>
        <div class="form-group text-end">
            <a href="#" class="forgot-password">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-primary w-100">Log in</button>
    </form>

    <div class="mt-3 text-center">
        <p>Don't have an account? <a href="#" class="text-primary">Sign up</a></p>
    </div>
    <div class="login-footer mt-3">
        <a href="#">Privacy</a>
        <a href="#">Terms of Service</a>
        <a href="#">FAQ</a>
    </div>
</div>
{% endblock %}